@mixin flexCenter($align, $justify, $direction, $gap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    gap: $gap;
}

$form-bkg-color: #dddddd;
$form-header-color: #222;
