@import "../../index.scss";

.personal-information-container {
    @include flexCenter(center, center, column, 0.7rem);
    padding: 2rem;
    align-items: stretch;
}

.personal-information-heading {
    font-size: 2rem;
}

.personal-input {
    padding: 0.5rem;
}

.personal-input:focus {
    outline: none;
}
